*{
    margin: 0;
    padding: 0;
}
body{
    font-family:sans-serif;
}
.container{
    width:1140px;
    margin: 0 auto;
    display: flex;
}
.head{
    padding-top: 5px;
}
.top{
    flex: 3;
}
nav{
    flex: 4;
}
.top .logo{
    
}

nav ul{
    
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 20px 10px;
}
nav ul li a{
   text-decoration:none;
    font-size: 14px;
    line-height: 20px;
    color: darkgray;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.banner{
    background: linear-gradient(
        rgba(7, 8, 8, 0.59),
            rgba(25, 21, 21, 0.42)
        ),
        url(img/banner.png) no-repeat fixed;
    background-size: cover;
}
.banner-text{
    padding-top: 210px;
}
.banner-text h4{
  text-align: center;
    font-size: 30px;
    color: #fff;
}
.banner-text h4 span{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18px;
    display: block;
    margin: 0px auto;
    color: #fff;
    font-weight: 100;
}
.banner-btn{
    padding-bottom: 160px;
    text-align: center;
}
.banner-btn button{
    padding: 20px 30px;
    border: none;
    border-radius:5px;
    color: white;
    background: #99C50A;
}
/*Features Section*/
.secB{
   display: block; 
}
.feature-content img{
    padding-top: 80px;
    padding-bottom: 30px;
    display: block;
    margin:  0 auto;
}
.feature-content h3{
    text-align: center;
    font-size: 30px;
    color: #515151;
    font-weight: 300;
    line-height: 40px;
}
.para1{
    color: #838383;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 40px;
    line-height: 30px;
    font-weight: 100;
}

.para2{
    color: #838383;
    text-align: center;
    padding-bottom: 30px;
    line-height: 30px;
    font-weight: 100;
}
.find{
    background: linear-gradient(
        90deg,
        #E2F8FF 0%, #E2F8FF 50%,
        #F5F9EB 50% , #F5F9EB 100%
    );
        height:250px;
    width: 100%;
}
.secC{
    display: flex;
    width: 1140px;
    margin: 0px auto;
    justify-content: space-around;
}
.properties{
    flex: 1;
    display: flex;
   
}
.buyer{
    flex: 1;
    display: flex;
   
}
.seclogoA{
     padding-top: 9%;
    flex: 1;
    margin-left: 5%;
}
.secdescriptionA{
    flex: 2;
    padding-top: 6%;
}
.seclogoB{
    padding-top: 9%;
    flex: 2;
    width: 33%;
    margin-left:10%; 
    
}
.secdescriptionB{
    padding-top: 6%;
    flex: 3;
    width: 30%;
}
.secdescriptionA h4{
    font-weight: ;
    padding-bottom: 20px;
    color: #767d7f;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 20px;
}
.secdescriptionA p{
     padding-bottom: 20px;
    font-size: 14px;
    line-height: 30px;color: darkgray;
    
}
.secdescriptionB h4{
     font-weight: ;
    padding-bottom: 20px;
    color: #767d7f;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 20px;
}
.secdescriptionB p{
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 30px;
    color: darkgray;
}

.btnleft{
    color: white;
    border: none;
    padding: 9px 15px;
    background: #26a6d1;
    border-radius: 5px;
}
.btnr{
   color: white;
    border: none;
    padding: 9px 15px;
    background: #add136;
    border-radius: 5px;             
}
        /*Last section*/

.lastsec{
    display: block;
    position: relative;
}
.lasttext{
    padding-top: 30px;
    margin-left: 35px
}
.lasttext p{
   color: darkgray;
    font-size: 14px;
    padding-bottom: 20px;
}
.lasttext h3{
     font-weight: ;
    padding-bottom: 15px;
    color: #767d7f;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 20px;
}
.lastbtn{
    padding-top: 30px;
    float: right;
    position: absolute;
    left: 80%;
    top: 15%;
}
.lastbtn button{
     color: white;
    border: 1px solid darkgray;
    padding: 9px 15px;
    background:transparent;
    border-radius: 5px;
    color: darkgray;
}


/*LAsT lection*/
.containerA{
    width: 1140px;
    margin: 0px auto;
}
.showcase{
    display: flex;
    justify-content: space-around;
}

.proz{
    width: 27%;
    border: 1px solid darkgray;
    border-radius: 5px;
    position: relative;
    position: relative;
}

.proz .toppart{
    background: url(img/project/1.png);
    height: 30vh;
}
.proz .toppartB{
    background: url(img/project/2.png);
    background-size: cover;
}
.proz .toppartC{
    background: url(img/project/3.png);
    background-size: cover;
}
.bottompart{
    height: 40vh;
    background: #f9f9f9;
    padding: 10px;
    
}
.bottompart h3{
    padding-top: 20px;
     font-weight: ;
    padding-bottom: 15px;
    color: #767d7f;
    font-weight: 50;
    letter-spacing: 1px;
    font-size: 20px;
}
.bottompart p{
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    color: darkgray;
}
.bottompart .fundl{
 margin-left: 20px;
    margin-right: 90px;
     border: none;
    background: transparent;
     padding-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    color: gray;
}
.bottompart .fundr{
   border: none;
    background: transparent;
     padding-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    color:gray;
}
.bottompart span{
    border-bottom:3px solid gray;
  width: 100%;
}
hr{
    margin-top: 20px
}
.fund{
    margin-top: 50px;
}
.bottompart .bottomtext{
    text-align: right;
    padding-top: 20px;
    font-weight: bold;
     font-weight: ;
    color: #767d7f;
    font-weight:bold;;
    letter-spacing: 1px;
    font-size: 18px;
    
}
.gbp {
    position: absolute;
    
    left: 150px;
    top: 120px;
}
.gbp button{
    color: white;
    border: none;
    padding: 10px 15px;
    background: #26a6d1;
    border-radius: 5px;
    position: absolute;
    white-space: nowrap;
}


/*Footer*/
.footimg{
    margin-top: 80px;
    padding-bottom: 30px;
    margin-left: 40px;
  
}

.dag span{
    border-bottom: 1px solid green;
    width: 100%;
}
.copy p{
    font-size: 14px;
    line-height: 20px;
    color: darkgray;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
      border-top: 1px solid #dbd0d0;
    width: 100%;
}